nav{
    padding-left: 10px !important;
    background: white;
    
}

nav div a{
    color: #848484;
}


nav .brand-logo .material-icons{
    color: #f5f314;
    font-size: 40px;
}
.btn-openMenu{
    background: none;
    margin: auto;
    border: none;
}

.material-icons{
    color: #848484;
}



@media only screen and (min-width: 950px) {
    
    nav .brand-logo{
        position: absolute;
        left: 50px;
    }
  }