


<div class="containerTickets">

  <div *ngFor="let ticket of ticketsArr"
        class="card white" >
    <div class="card-content" style="height: 300px; overflow: auto;">
      <span class="card-title"><b> Nº Orden: </b> {{ ticket.noOrden }} </span>

      <h2 style="display: inline-block; margin-bottom: 0px;">Meseros: </h2> 
      <div class="textInfo" style="margin-bottom: 10px;" 
            *ngFor="let mesero of ticket.meseros"> 
            {{ mesero.nombre }} 
      </div>

      <h2 style="display: inline-block; margin-bottom: 0px;">Mesas:</h2>
      <div class="textInfo" style="margin-bottom: 10px;"
            *ngFor="let mesa of ticket.mesas"> 
            {{ mesa.mesa }} 
      </div>

    </div>
    <div class="card-action">
      <a (click) = "editaTicket( ticket )"
          class="waves-effect waves-light btn cyan lighten-2"> 
        Editar 
      </a>
      <a class="waves-effect waves-light btn green darken-1"> Enviar a Caja </a>
      <a class="waves-effect waves-light btn red lighten-1"> Eliminar </a>
    </div>
  </div>

</div>




<div class="fixed-action-btn">
    <button routerLink="/home/ticket/nuevo"
        class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </button>
  </div>