<div class="loginContainer animated fadeIn slow">
    <form id="formLogin" [formGroup]="form"
          (ngSubmit)="login()"
          class="col s12 mb-2">
        <div [ngClass]="{ 'error': emailNoValido, 'valido': !emailNoValido }"
              class="input-field">
          <input id="email" 
                  formControlName="email"
                  [class.is-invalid]="emailNoValido"
                  [(ngModel)] ="usuario.email"
                  type="email">
          <label for="email"> Usuario</label>
        </div>
        <div [ngClass]="{ 'error': passNoValido, 'valido': !passNoValido }"
              class="input-field">
          <input id="pass" 
                  formControlName="pass"
                  [class.is-invalid]="passNoValido"
                  [(ngModel)] ="usuario.pass"
                  type="password">
          <label for="pass">Contraseña</label>
        </div>

      <button type="submit" class="waves-effect waves-light btn col s12  blue lighten-1">Iniciar Sesión</button>
    </form>
    
    <div class="logSocialNetContainer">
        <button class="waves-effect waves-light btn-socialNExt red darken-4">
            <div>
                <img src="../../../assets/icons/icons8-google-48.png">
                <p>Inicia Sesión con Google</p>
            </div>
        </button>
        <button (click)="logInFacebook()"  class="waves-effect waves-light btn-socialNExt blue darken-3">
            <div>
                <img src="../../../assets/icons/icons8-facebook-48.png">
                 <p>Inicia Sesión con Facebook</p> 
            </div>
            
        </button>
    </div>
    
</div>